<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> aerify </title>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/aerifyArticles/materialize.css" %}'>
    <link rel="stylesheet" href='{% static "css/aerifyArticles/articles.css" %}'>

</head>
<body>
<nav class="black fixed">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo" style="padding-left: 24px">aerify</a>
        <ul id="aerify-list" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/articles">Articles</a></li>
            
        </ul>
    </div>
</nav>
<div style="margin-top: 80px" class="container">
    <div class="row">
        <div class="col l8 m12 s12">
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@swachhcoin/consequences-of-air-pollution-f5f3033f31df?source=search_post---------0'><img src="https://cdn-images-1.medium.com/max/480/1*gdiI9SEm4Hoa9YIX3xgc_Q.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@swachhcoin/consequences-of-air-pollution-f5f3033f31df?source=search_post---------0'><h3 class="article-title"> Effects of Air Pollution </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@selfishaltruist/how-bad-is-bangalore-air-pollution-and-how-can-we-deal-with-it-3a69a8070c5e?source=search_post---------1'><img src="https://cdn-images-1.medium.com/max/640/1*pJqXdnuICAEW_SGkPXMwNg.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@selfishaltruist/how-bad-is-bangalore-air-pollution-and-how-can-we-deal-with-it-3a69a8070c5e?source=search_post---------1'><h3 class="article-title"> How bad is Bangalore air pollution and how can we deal with it </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@ermanmisirlisoy/how-air-pollution-is-destroying-your-brain-22e4480dcd07?source=search_post---------2'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*KoQ5RAoeBWSZ9mbcxNrN5g.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@ermanmisirlisoy/how-air-pollution-is-destroying-your-brain-22e4480dcd07?source=search_post---------2'><h3 class="article-title"> How Air Pollution Is Destroying Your Brain </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://howwegettonext.com/fixing-global-health-means-fixing-air-pollution-8d9489aa1e9b?source=search_post---------4'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*UY_nufyl9znkc5Xtx2Hqtw.png"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://howwegettonext.com/fixing-global-health-means-fixing-air-pollution-8d9489aa1e9b?source=search_post---------4'><h3 class="article-title"> Fixing Global Health Means Fixing Air Pollution </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/grist/meet-the-scientist-connecting-the-dots-between-air-pollution-and-dementia-faa681eeaf9f?source=search_post---------6'><img src="https://cdn-images-1.medium.com/max/854/1*XqX-v1vzRVI34AqwV-fDww.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/grist/meet-the-scientist-connecting-the-dots-between-air-pollution-and-dementia-faa681eeaf9f?source=search_post---------6'><h3 class="article-title"> Meet the scientist connecting the dots between air pollution and dementia </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/inside-socialcops/measuring-delhis-air-pollution-through-auto-rickshaws-2864706360cb?source=search_post---------7'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/0*S_fGJOUZs3NXVdUD.png"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/inside-socialcops/measuring-delhis-air-pollution-through-auto-rickshaws-2864706360cb?source=search_post---------7'><h3 class="article-title"> Launch: Measuring Delhi’s Air Pollution Through Auto Rickshaws </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/thebeammagazine/air-pollution-has-a-devastating-impact-on-childrens-health-b3239958bdfb?source=search_post---------8'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*W8uUiSkIk6QuzR36ivWaTA.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/thebeammagazine/air-pollution-has-a-devastating-impact-on-childrens-health-b3239958bdfb?source=search_post---------8'><h3 class="article-title"> Air pollution has a devastating impact on children’s health </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://blog.airairair.org/open-letter-to-president-obama-about-hazardous-air-pollution-in-new-delhi-d9135fe46b2d?source=search_post---------9'><img src="https://cdn-images-1.medium.com/max/960/1*jpUy6PW-rHeqM94uZlEWQw.png"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://blog.airairair.org/open-letter-to-president-obama-about-hazardous-air-pollution-in-new-delhi-d9135fe46b2d?source=search_post---------9'><h3 class="article-title"> Open Letter to President Obama About “Hazardous” Air Pollution in New Delhi </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@erlendkulanderkvitrud/a-moment-of-silence-for-the-7-million-souls-we-lost-to-air-pollution-in-2018-44ec8121cbe7?source=search_post---------0'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*zeRdxpxVugMQDNMjmjnu5A.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@erlendkulanderkvitrud/a-moment-of-silence-for-the-7-million-souls-we-lost-to-air-pollution-in-2018-44ec8121cbe7?source=search_post---------0'><h3 class="article-title"> A Moment of Silence For The 7 Million Souls We Lost to Air Pollution This Past Year </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@selfishaltruist/how-bad-is-bangalore-air-pollution-and-how-can-we-deal-with-it-3a69a8070c5e?source=search_post---------1'><img src="https://cdn-images-1.medium.com/max/640/1*pJqXdnuICAEW_SGkPXMwNg.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@selfishaltruist/how-bad-is-bangalore-air-pollution-and-how-can-we-deal-with-it-3a69a8070c5e?source=search_post---------1'><h3 class="article-title"> How bad is Bangalore air pollution and how can we deal with it </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://towardsdatascience.com/identifying-the-sources-of-winter-air-pollution-in-bangkok-part-ii-72539f9b767a?source=search_post---------2'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*qdV9Z2JWpzRPaIljW-ITaw.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://towardsdatascience.com/identifying-the-sources-of-winter-air-pollution-in-bangkok-part-ii-72539f9b767a?source=search_post---------2'><h3 class="article-title"> Identifying the Sources of Winter Air Pollution in Bangkok Part II </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@swachhcoin/consequences-of-air-pollution-f5f3033f31df?source=search_post---------3'><img src="https://cdn-images-1.medium.com/max/480/1*gdiI9SEm4Hoa9YIX3xgc_Q.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@swachhcoin/consequences-of-air-pollution-f5f3033f31df?source=search_post---------3'><h3 class="article-title"> Effects of Air Pollution </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@amazoniansgreencoin/reducing-chinas-co2-emissions-would-curb-deadly-air-pollution-77338b37b607?source=search_post---------4'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/0*v8JlrQQdkEx5_708.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@amazoniansgreencoin/reducing-chinas-co2-emissions-would-curb-deadly-air-pollution-77338b37b607?source=search_post---------4'><h3 class="article-title"> Reducing China’s CO2 Emissions Would Curb Deadly Air Pollution </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://elemental.medium.com/a-surprise-surge-in-air-pollution-may-be-causing-more-coronavirus-complications-c444e82a659e?source=search_post---------5'><img src="https://cdn-images-1.medium.com/focal/1600/480/48/45/1*qyloeOVxS5h2VSzz0vgpCA.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://elemental.medium.com/a-surprise-surge-in-air-pollution-may-be-causing-more-coronavirus-complications-c444e82a659e?source=search_post---------5'><h3 class="article-title"> A Surprise Surge in Air Pollution May Be Causing More Coronavirus Complications </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://towardsdatascience.com/visualizing-air-pollution-with-folium-maps-4ce1a1880677?source=search_post---------6'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/0*PlMoYJ9MPTjB_2Ju"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://towardsdatascience.com/visualizing-air-pollution-with-folium-maps-4ce1a1880677?source=search_post---------6'><h3 class="article-title"> Visualizing Air Pollution with Folium Maps </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/mongolian-data-stories/how-air-pollution-is-measured-in-ulaanbaatar-6ba76eec9585?source=search_post---------7'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*FoUZIEukXmKGBH5Rp5SezA.png"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/mongolian-data-stories/how-air-pollution-is-measured-in-ulaanbaatar-6ba76eec9585?source=search_post---------7'><h3 class="article-title"> How air pollution is measured in Ulaanbaatar </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://onezero.medium.com/minority-students-are-getting-choked-out-by-air-pollution-in-utah-7e7fdf4a4057?source=search_post---------8'><img src="https://cdn-images-1.medium.com/focal/1600/480/53/80/1*bM0L4zjwag6vIBGqf3wt1Q.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://onezero.medium.com/minority-students-are-getting-choked-out-by-air-pollution-in-utah-7e7fdf4a4057?source=search_post---------8'><h3 class="article-title"> Minority Students Are Getting Choked Out by Air Pollution in Utah </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            
                            <a href='https://medium.com/@ermanmisirlisoy/how-air-pollution-is-destroying-your-brain-22e4480dcd07?source=search_post---------9'><img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*KoQ5RAoeBWSZ9mbcxNrN5g.jpeg"></a>
                            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            
                            <a style="text-decoration: none" href='https://medium.com/@ermanmisirlisoy/how-air-pollution-is-destroying-your-brain-22e4480dcd07?source=search_post---------9'><h3 class="article-title"> How Air Pollution Is Destroying Your Brain </h3></a>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>
<div style="margin-top: 80px" class="container">
    <div class="row">
        <div class="col l8 m12 s12">
            {% for obj in object_list %}
            <div class="row" style="margin-top: 20px">
                <div class="col s12">
                    <div style="box-shadow: 0 0 0 0" class="card horizontal">
                        <div class="card-image">
                            {% if obj.image %}
                            <a href='{{ obj.link }}'><img src="{{ obj.image }}"></a>
                            {% else %}
                                <img class="responsive-img" src='{% static "img/aerifyArticles/beach.jpg" %}'
                                     alt="Image not available">
                            {% endif %}
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            {% if obj.title %}
                            <a style="text-decoration: none" href='{{ obj.link }}'><h3 class="article-title"> {{ obj.title }} </h3></a>
                            {% else %}
                            <a style="text-decoration: none" href='{{ obj.link }}'><h3 class="article-title"> Effects of Air Pollution </h3></a>
                            {% endif %}
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            {% endfor %}

        </div>
        <div style="padding: 0 48px; position: sticky; top: 80px;" class="col l4 hide-on-med-and-down">
            <div style="background-color: black">
                
            </div>
            <br>
            
            
            </div>
        </div>
    </div>
</div>
</body>
</html>
