<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> aerify Statistics </title>
</head>
<body>
    <h1><center> Statistics </center></h1>
    <p>
        {{ state_high_co }}
        <br><br>
        {{ state_high_no2 }}
        <br><br>
        {{ allstate_so2_no2_pm10_co }}
        <br><br>
        {{ state_high_so2 }}
        <br><br>
        {{ loc_high_no2 }}
        <br><br>
        {{ loc_high_pm10 }}
        <br><br>
        {{ loc_high_co }}
        <br><br>
        {{ loc_high_so2 }}
        <br><br>
        {{ state_high_pm10 }}
    </p>

</body>
</html>